<h2>Startliste</h2>

<button
  type="button"
  id="new-participantList"
  class="big-button"
  (click)="newParticipantList()"
>
  Neu
</button>

<button
  type="button"
  id="load-participants"
  class="big-button"
  (click)="getParticipants()"
>
  Laden
</button>
<a id="downloadAnchorElem" style="display: none"></a>

<button
  type="button"
  id="export-participants"
  class="big-button"
  (click)="exportParticipants()"
>
  Exportieren
</button>
<br />
<label for="load-file">Startliste laden:</label>
<input type="file" id="load-file" accept=".json" (change)="loadFromFile()" />
<br />
<button
  type="button"
  id="new-participant"
  class="big-button"
  (click)="addParticipant()"
>
  + Teilnehmer
</button>

<div class="table">
  <div class="table-header">
    <div class="table-header-cell">Nr.</div>
    <div class="table-header-cell">Kategorie</div>
    <div class="table-header-cell">Name</div>
  </div>
  <div class="table-body">
    <app-participant-input
      class="table-row"
      *ngFor="let participant of participants"
      [participant]="participant"
    >
    </app-participant-input>
  </div>
</div>
