<h1>Zeitmessung</h1>
<nav>
  <button (click)="displayTarget = 'startlist'">Startliste</button>
  <button (click)="displayTarget = 'timekeeping'">Zeitmessung</button>
  <button (click)="displayTarget = 'evaluation'">Auswertung</button>
</nav>

@if (displayTarget === 'startlist') {
  <app-start-list></app-start-list>
}
@if (displayTarget === 'timekeeping') {
  <app-timekeeping></app-timekeeping>
}
@if (displayTarget === 'evaluation') {
  <app-evaluation></app-evaluation>
}

<app-snackbar></app-snackbar>
