<h2>Zeitmessung</h2>

<label for="select-measurement-location">Ort:</label>
<select
  id="select-measurement-location"
  class="big-select"
  (change)="reset()"
  [(ngModel)]="location"
>
  <option>Start</option>
  <option>Ziel</option>
</select>

<br />
<label for="load-file">Startliste laden:</label>
<input type="file" id="load-file" accept=".json" (change)="loadFromFile()" />

<button
  type="button"
  id="load-measurements"
  class="big-button"
  (click)="getEntries()"
>
  Laden
</button>
<a id="downloadAnchorElem" style="display: none"></a>

<button
  type="button"
  id="export-measurements"
  class="big-button"
  (click)="exportMeasurements()"
>
  Exportieren
</button>

<table>
  <tr>
    <th>Nr.</th>
    <th>Name</th>
    <th></th>
    <th>Zeit</th>
  </tr>
  <tr *ngFor="let entry of entries">
    <td>{{ entry.numberPlate }}</td>
    <td>{{ entry.name }}</td>
    <td>
      <button class="small-button" (click)="takeTime(entry)">
        {{ location }} {{ entry.numberPlate }}
      </button>
    </td>
    <td>
      <input
        type="text"
        [ngModel]="entry.time | dateToTimeString"
        (change)="setManualTime($event, entry)"
      />
    </td>
  </tr>
</table>
<app-start-countdown *ngIf="location === 'Start'"></app-start-countdown>
